// Diferentes font-sizes que tendran lugar en el folder utilities para crear clases que podremos usar dentro de nuestro html.

// Font-family
$ff-sans: 'Kumbh Sans', sans-serif;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  200: 0.75rem,
  300: 0.813rem,
  400: 0.875rem,
  900: 2rem,
);

//Font-weights
$fw-400: 400;
$fw-700: 700;
