@use '../abstracts/' as *;

.button {
  // Some default removed from the btn.
  background-color: transparent;
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  transition: 275ms ease;

  &:is(:hover, :focus) {
    color: clr(neutral, 200);
  }
}
